<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.dms.common.model.User" />
		
		<mapping class="com.dms.common.model.ReviewComment" />
		<mapping class="com.dms.common.model.MaterialDetail" />
		
		<mapping class="com.dms.om.model.Order" />
		<mapping class="com.dms.om.model.OrderLine" />
		<mapping class="com.dms.om.model.Task" />
		<mapping class="com.dms.om.model.TaskLine" />
		<!-- <mapping class="com.dms.om.model.OrderStatus" /> -->
	</session-factory>

</hibernate-configuration>